include admin/popup-form.pug

mixin about-cork-dashboard(options = {id: 'about-cork-dashboard', header: 'ABOUT THE DASHBOARD', twitterHandle: '@corkdashboard', description: '', additionalInfo: '', isEditable: false})
  #about-cork-dashboard.home__about
    #about-cork-dashboard__header.home__about__header 
      h1.header
        span= options.header
        if options.isEditable
          .edit-icon-wrapper(onclick=`editHeader(${JSON.stringify(options)})`)
            include ../../public/images/icons/admin/pencil.svg
    #about-cork-dashboard__twitter
      p Follow !{options.twitterHandle} on Twitter
    #about-cork-dashboard__card.home__about__card
      p !{options.description}
      p !{options.additionalInfo}

    // Add CSS for positioning and hover effect
    style.
       .header {
            display: flex;
            align-items: center;
        }

        .edit-icon-wrapper {
            margin-left: 10px;
            display: flex;
            cursor: pointer;
            transition: transform 0.2s, color 0.2s;
        }
        .edit-icon-wrapper:hover {
            transform: scale(1.2);
            color: #007BFF;
        }

  if options.isEditable
    script(type="module" src="/javascripts/admin/home-cards.js")

  if options.isEditable
    // Invoke the popup form component with specific options
    +popupForm()



//- This shit has to be changed :), will do that soon
mixin about-cork(options = {id: 'about-cork', header: 'ABOUT CORK', area: 'xxx.xx', populationYear: 'xxxx', populationCount: 'x,xxx,xxx', populationChange: 'xx%', populationTrendText: 'increasing'})
    #about-cork.home__about
        #about-cork__header.home__about__header
            h1= options.header
        #about-cork__card.home__about__card
            p Cork is the largest county in Ireland. 
              | It is located in the south-west of the country, in the province of Munster, and covers a total area of 
              span#cork__area #{options.area}
              | . At the time of the census in 
              span#cork__population_year #{options.populationYear}
              | , Cork had a total population of 
              span#cork__population-count #{options.populationCount}
              |  people. This was a change of 
              span#cork__population-change #{options.populationChange}
              |  on the previous census of 2011, or 
              span#cork__population-trend-text #{options.populationTrendText}.

            p
              | There are 2 local authorities whose remit encompasses the geographic area of the county and city of Cork. In May 2019, 
              a(href='https://www.corkcity.ie/en/council-services/public-info/boundary-extension/' target='_blank') a boundary extension
              |  meant that Cork City grew to nearly five times its previous size.
            p Select a council on the map in the next section to see specific information.


