mixin about-cards(options = {id: 'about-cork-dashboard', header: 'ABOUT THE DASHBOARD', twitterHandle: '@corkdashboard', description: '', additionalInfo: '', isEditable: false})
  #about-cork-dashboard.home__about
    #about-cork-dashboard__header.home__about__header 
      h1.header
        span= options.header
        if options.isEditable
          .edit-icon-wrapper(onclick=`editHeader(${JSON.stringify(options)})`)
            include ../../public/images/icons/admin/pencil.svg
    if options.twitterHandle
      #about-cork-dashboard__twitter
        p Follow !{options.twitterHandle} on Twitter
    #about-cork-dashboard__card.home__about__card
      p !{options.description}
      p !{options.additionalInfo}

    // Add CSS for positioning and hover effect
    style.
       .header {
            display: flex;
            align-items: center;
        }

        .edit-icon-wrapper {
            margin-left: 10px;
            display: flex;
            cursor: pointer;
            transition: transform 0.2s, color 0.2s;
        }
        .edit-icon-wrapper:hover {
            transform: scale(1.2);
            color: #007BFF;
        }

  if options.isEditable
    script(type="module" src="/javascripts/admin/home-cards.js")

  if options.isEditable
    // Invoke the popup form component with specific options
    +popupForm()

